@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime
<h1>Show Chart</h1>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
</div>

@code {

    //Javascript should be called after render
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var module = new ChartInterop(JSRuntime);
        await module.ShowChart();
    }
}
