@page "/pluginSample"
@using Microsoft.JSInterop;
@using Newtonsoft.Json;
@using Plugin.Shared;
@using global::PluginComponent.Services;
<h3>PluginSample</h3>

<img src="/Plugins/PluginComponent/wwwroot/QoP.jpg" />


@SomeComponentService.HelloWorld();

@JSon

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    [Inject]
    public ISomeComponentService SomeComponentService { get; set; }

    [Parameter]
    public bool IsPlugin { get; set; } = false;

    class Test
    {
        public int MyProperty { get; set; }
        public string Str { get; set; }
    }

    string JSon = "";

    protected override async Task OnInitializedAsync()
    {
        var test = new Test()
            {
                MyProperty = 1,
                Str = "somestring"
            };

        JSon = JsonConvert.SerializeObject(test);
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var interop = new ExampleJsInterop(JSRuntime, IsPlugin);
            interop.Prompt("string test");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
