@page "/"
@inject IJSRuntime Js
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@*Here we call our component*@
<JavascriptComponent.Sample.ChartComponent></JavascriptComponent.Sample.ChartComponent>
